/* Padrão da Página */
* {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding-top: 40px;
        }

        .container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input,
        .form-group textarea {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-group select {
            width: 100%;
            padding: 10px;
        }

        .form-group .file-input {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-group .file-input input {
            display: none;
        }

        .form-group .file-input label {
            display: block;
            padding: 10px;
            background-color: #2980B9;
            color: #fff;
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
        }

        .form-group .file-input label:hover {
            background-color: #2980B9;
        }

        .btn {
            background-color: #2980B9;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #2980B9;
        }

        .cadastro {
            padding: 0%;
        
        }

        .direitos {
            text-align: center;
        }

        @media (max-width: 768px) {
            .container {
                width: 90%;
            }
        }