* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px;
}
h1 {
    font-size: 25px;
}
#Pesquisa {
    background-color: #f8f8f8;
    border: #777 solid 1px;
    border-radius: 5px;
    width: 400px;
}
#txtPesquisa {
    font-size: 12px;
    float: left;
    background-color: transparent;
    padding-left: 10px;
    border: none;
    height: 30px;
    width: 390px;
}
a {
    display: inline-block;
    width: 80px;
    background-color: #004E98;
    border: #004E98 solid 1px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: lighter;
}
#Destaque {
    padding: 70px;
    background-image: url(img/capa.png);
    background-size: cover;
    border: white solid 1px;
    text-align: center;
    align-items: center;
}
h2 {
    font-size: 30px;
    color: white;
}
#CategoriaProduto {
    background-color: white;
    border: white solid 1px;
}
#Produto {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: calc(8% - 21px);
    margin: 20px;
    margin-right: 0px;
    box-sizing: border-box;
}
.produto-imagem {
    display: block;
    margin: 0px 0px 2px 0px;
    width: 100%;
}
h3 {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}
#Mercado {
    display: inline-block;
    vertical-align: top;
    background-color: #f8f8f8;
    border: #f8f8f8 solid 1px;
    border-radius: 15px;
    width: calc(20% - 28px);
    margin: 20px 20px;
    margin-right: 0px;
    box-sizing: border-box;
}
h4 {
    font-size: 25px;
    text-align: center;
}
.mercado-imagem {
    display: block;
    width: 100%;
    border-radius: 15px;
}
footer {
    background-color: #3A6EA5;
}
#Rodapé {
    display: inline-block;
    vertical-align: top;
}
#Rodapé.logo {
    width: 250px;
    padding: 10px;
    margin: 40px 20px 40px 20px;
    box-sizing: border-box;
    color: white;
}
#Rodapé.sobre {
    width: 500px;
    padding: 10px;
    margin: 40px 20px 40px 55px;
    box-sizing: border-box;
    color: white;
    text-align: justify;
}
#Rodapé.termos {
    width: 170px;
    padding: 10px;
    margin: 40px 15px 40px 5px;
    box-sizing: border-box;
    color: white;
}
#Rodapé.noticias {
    width: 340px;
    padding: 10px;
    margin: 40px 10px 40px 10px;
    box-sizing: border-box;
    color: white;
}
#txtNoticias {
    font-size: 12px;
    float: left;
    background-color: white;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    border: none;
    height: 30px;
    width: 310px;
}
h7 {
    font-size: 15px;
    font-weight: bold;
}
p {
    font-size: 14px;
}
#Copyright {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
}
h6 {
    font-size: 14px;
}