body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 10px 20px;
}
#pesquisa {
    width: 500px;
}
a:link {
    background-color: gray;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
    margin: 20px;
}
.loja-conteúdo {
    display: inline-block;
    width: calc(16% - 34.5px);
    background-color: white;
    vertical-align: top;
    margin: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.loja-nome {
    font-size: medium;
    text-align: center;
}
.loja-imagem {
    display: block;
    width: 100%;
    border: 2px solid black;
    border-radius: 100px;
}
.produto-conteúdo {
    display: inline-block;
    width: calc(16% - 34.5px);
    background-color: white;
    vertical-align: top;
    margin: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.produto-nome {
    font-size: medium;
    text-align: center;
}
.produto-imagem {
    display: block;
    width: 100%;
    border: 2px solid black;
    border-radius: 100px;
}
footer {
    background-color: #ddd;
}
#rodapé {
    display: inline-block;
    width: 14%;
    background-color: white;
    vertical-align: top;
    margin: 10px 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: small;
}
.noticias {
    position: absolute;
    left: 83%;
}
.imagem-logo {
    display: block;
    width: 100%;
}