* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border: #ddd solid 1px;
    padding: 20px 40px;
}
#divPesquisa {
    background-color: white;
    border: white solid 1px;
    border-radius: 5px;
    width: 500px;
}
#txtPesquisa {
    float: left;
    background-color: transparent;
    padding-left: 10px;
    border: none;
    height: 30px;
    width: 490px;
}
a {
    background-color: white;
    border: white solid 1px;
    border-radius: 5px;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
}