/* Limpar configuração do browser */
* {
    margin: 0;
    padding: 0;
}

/* Padrão da Página */
* {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* Header */
header {
    margin: 10px 20px;
    padding: 0;
}
ul.cabecalho {
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    list-style-type: none;
}
li {
    float: left;
}
li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
li.logo a {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    color: black;
    padding: 5px 0;
}
li.busca {
    background-color: #f8f8f8;
    border: #ececec solid 1px;
    width: 600px;
    height: 30px;
    border-radius: 15px;
    margin: auto 60px;
}
.txtBusca {
    float: left;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    height: 30px;
    width: 540px;
}
.txtBusca::placeholder {
    color: #8b8b8b;
    font-size: 12px;
}
.busca img {
    height: 12px;
    padding: 9px 15px;
}
ul.perfilnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    list-style-type: none;
}
li.perfil {
    display: inline-block;
    float: right;
}
.perfilnome {
    font-size: 13px;
    padding: 10px;
}
.perfilbtn img {
    width: 34px;
}
.perfilconf {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 140px;
    right: 20px;
}
.perfilconf a {
    color: #8b8b8b;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
}
.perfilconf a:hover {
    background-color: #297fb959;
}
.perfil:hover .perfilconf {
    display: block;
}






/* Perfil Mercado */
main {
    margin: 20px;
}
#perfilmercado {
    display: block;
    background-color: #ececec;
    border: #8b8b8b solid 2px;
    border-radius: 15px;
}
.mercadoimg {
    display: inline-block;
}
.mercadoimg img {
    width: 200px;
    border-radius: 100px;
}
.mercadoperfil {
    display: inline-block;
}







/* Footer */
footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ececec;
}
#rodapeLogo {
    display: inline-block;
    width: 220px;
    margin: 40px 20px;
    box-sizing: border-box;
    vertical-align: top;
}
#rodapeLogo a {
    margin: auto;
    text-decoration: none;
    color: #8b8b8b;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
}
#sobre {
    display: inline-block;
    width: 500px;
    margin: 40px 20px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: justify;
    color: #8b8b8b;
    font-size: 12px;
}
#termos {
    display: inline-block;
    width: 160px;
    margin: 40px 20px;
    box-sizing: border-box;
    vertical-align: top;
    color: #8b8b8b;
    font-size: 12px;
}
#receberEmail {
    display: inline-block;
    margin: 40px 20px;
    width: 370px;
    box-sizing: border-box;
    vertical-align: top;
    color: #8b8b8b;
    font-size: 12px;
}
#txtEmail {
    font-size: 12px;
    float: left;
    background-color: white;
    margin: 5px 0 0 0;
    padding-left: 10px;
    border: none;
    height: 30px;
    width: 370px;
}
#copyright {
    display: block;
    color: #8b8b8b;
    margin: 10px;
    text-align: center;
    font-size: 12px;
}